<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="stylesheets/datepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="budget.js"></script>
        <script src="javascripts/bootstrap-datepicker.js"></script>
    </head>
    <body>
        <div class="container">
        <div class="row" >
    <div class="col-sm-12 col-md-5 col-lg-4">
         
      <form name="budget" style="clear: both">
        <div class="infoMsg"ng-bind="msg"></div>
        
        <div class="form-group">
          <label for="name">Type</label>
          <input type="text" ng-model="budgetRow.item" name="itemType" id="itemType" class="form-control" required>
        </div>
                <div class="form-group">
          <label for="name">Item</label>
          <input type="text" ng-model="budgetRow.item" name="itemName" id="itemName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text"  ng-model="budgetRow.price" id="itemPrice" name="itemPrice" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="name">Date</label>
          <input type="text" autoclose="true"  ng-model="budgetRow.date" id="itemDate" name="itemDate" class="form-control datepicker" required>
        </div>
       
        <input  type="button" class="btn btn-primary" value="Save" onclick="save()">
        <input type="reset" class="btn btn-primary" value="Clear">
      </form>
    </div>
  </div> <div class="form-group col-sm-12 col-md-5 col-lg-4">
        <input type="text" id="search" style="width:70%; float: left;" name="search" class="form-control datepicker" required/>
        <button style="float: left;" class="btn btn-primary" onclick="search()" value="Search" >Search</button>
         </div>
         <br/> 
         <div id="result"></div>
        </div>
      
</div>

        
      <script type="text/javascript">
  $(function () {
    $('.datepicker').datepicker({ autoclose: true});
    $('div.datepicker tbody').on('click', function(){  $('div.datepicker').hide() });
  });
</script>  
    </body>
</html>