.alert {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    clear: both;
}
input[type=checkbox]{
    margin-top: 0px;
}
#checklistList .form-group > div {
    padding: 5px;
}
.mtop-5 { margin-top:5px; }
.mbottom-10 { margin-bottom: 10px; }
#checklistList input,
#checklistList select{
   width: 95%; 
}
#checklist .col-sm-7{
    padding-left: 5px;
    padding-right: 5px;
}